In [1]:
import os
import pandas as pd

In [2]:
files = os.listdir('params/')

In [3]:
for f in files:
    df = pd.read_csv('params/' + f)
    df['temp'] = df['temp'] + 273.15
    df.to_csv('params_kelvin/' + f, index=False)

In [4]:
df = pd.read_csv('params/c_cell.csv')

In [5]:
df.head()

   temp   soc            c
0     0  0.00   149.512479
1     0  0.05   477.073388
2     0  0.10  1489.964003
3     0  0.15  2502.854617
4     0  0.20  3516.885817

In [6]:
df['temp'] = df['temp'] + 273.15

In [7]:
df

       temp   soc             c
0    273.15  0.00    149.512479
1    273.15  0.05    477.073388
2    273.15  0.10   1489.964003
3    273.15  0.15   2502.854617
4    273.15  0.20   3516.885817
..      ...   ...           ...
100  313.15  0.80  27444.185704
101  313.15  0.85  22034.560547
102  313.15  0.90  18592.934966
103  313.15  0.95  15151.309385
104  313.15  1.00  11709.683803

[105 rows x 3 columns]

In [10]:
from flax import struct

@struct.dataclass
class S:
    x: int
    y: int

@struct.dataclass
class Q(S):  # Q extends S with an additional field
    z: int

class A:
    def method(self) -> S:
        return S(x=1, y=2)

class B(A):
    def method(self) -> Q:
        s = super().method()  # Get the base struct
        return Q(**s.__dict__, z=3)  # Extend with the new field

b = B()
result = b.method()
print(result)  # Q(x=1, y=2, z=3)

Q(x=1, y=2, z=3)